<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <!-- <link rel="stylesheet" th:href="@{/css/styles.css}" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="alert alert-success">
        <span th:text="'Tiempo transcurrido:' +  ${currentTimeTotal}+ ' milisegundos'"></span>
    </div>
    <h1>Formulario con SpringBoot</h1>
    <hr />
    <!-- Cuando añadimos la etiqueta th:field debemos añadir en el formulario el objeto al que va a mapear
        th:object="${modeloUsuario}"
        th:field="*{campo a mapear del modelo}"
    -->
    <div class="container">
        <form th:action="@{/v1/api/form}" th:object="${usuario}" method="POST" class="d-flex flex-column align-items-center">
            <fieldset>
                <legend class="h3">Datos del usuario</legend>
                <table>
                    <!-- <tr> -->
                    <!-- <td><label for="id">id</label></td> -->
                    <!-- <td> -->
                    <!-- <input type="text" th:field="*{id}" /> -->
                    <!-- </td> -->
                    <!-- <td> -->
                    <!-- Primera forma de validar un formulario a traves de un hasmap -->
                    <!-- <strong th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></strong> -->
                    <!-- Segunda forma de validar un campo de formulario a traves de tymeleaf propio -->
                    <!-- <strong th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></strong> -->
                    <!-- </td> -->
                    <!-- </tr> -->
                    <tr class="form-group row">
                        <td><label for="nombre" class="text-body-secondary">Nombre</label></td>
                        <td>
                            <input type="text" th:field="*{nombre}" placeholder="Introduce un nombre"
                                class="form-control mb-2" />
                        </td>
                        <td>
                            <!-- Primera forma de validar un formulario a traves de un hasmap -->
                            <!-- <strong th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></strong> -->
                            <!-- Segunda forma de validar un campo de formulario a traves de tymeleaf propio -->
                            <strong th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="apellido" class="text-body-secondary">Apellido</label></td>
                        <td>
                            <input type="text" th:field="*{apellido}" placeholder="Introduce un apellido"
                                class="form-control mb-2" />
                        </td>
                        <td>
                            <!-- Primera forma de validar un formulario a traves de un hasmap -->
                            <!-- <strong th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></strong> -->
                            <!-- Segunda forma de validar un campo de formulario a traves de tymeleaf propio -->
                            <strong th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>

                    <tr class="form-group row">
                        <td><label for="username" class="text-body-secondary">Usuario</label></td>
                        <td>
                            <input type="text" th:field="*{username}" placeholder="Usuario" class="form-control mb-2" />
                        </td>
                        <td>
                            <!-- Primera forma de validar un formulario a traves de un hasmap -->
                            <!-- <strong th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></strong> -->
                            <!-- Segunda forma de validar un campo de formulario a traves de tymeleaf propio -->
                            <strong th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr class="form-group row">
                        <td><label for="email" class="text-body-secondary">Email</label></td>
                        <td>
                            <input type="text" th:field="*{email}" placeholder="Introduce un email correcto"
                                class="form-control mb-2" />
                        </td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <strong th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="password" class="text-body-secondary">Password</label></td>
                        <td>
                            <input type="password" th:field="*{password}" placeholder="Introduce el password"
                                class="form-control mb-2" />
                        </td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></strong> -->
                            <strong th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="edad" class="text-body-secondary">Edad</label></td>
                        <td><input type="number" th:field="*{edad}" class="form-control mb-2" /></td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <strong th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="fechaNacimiento" class="text-body-secondary">Fecha Nacimiento</label></td>
                        <td><input type="date" th:field="*{fechaNacimiento}" class="form-control mb-2 text-body-secondary" /></td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <strong th:if="${#fields.hasErrors('fechaNacimiento')}"
                                th:errors="*{fechaNacimiento}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="pais" class="text-body-secondary">Pais</label></td>
                        <td>
                            <select th:field="*{pais}" class="form-control text-body-secondary mb-2" >
                                <option value="">--Selecciona un pais--</option>

                                <!-- Con modelo de datos -->
                                <option th:each="pais: ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}">
                                </option>

                                <!-- Con un hasmap -->
                                <!-- <option th:each="pais: ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option> -->
                            </select>
                        </td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <strong th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label class="text-body-secondary mt-2">Tipo Usuario</label></td>

                        <td>
                            <p th:each="rol: ${listaRolesObject}">
                                <input type="checkbox" th:field="*{roles}" th:value="${rol.id}" />
                                <label th:for="${#ids.prev('roles')}" th:text="${rol.nombre}" class="text-body-secondary"></label>
                            </p>
                        </td>
                        <td>
                            <!-- Primera forma de validar un campo si hay un error -->
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <!-- Segunda forma de validar un campo si hay errores -->
                            <strong th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                    <tr class="form-group row">
                        <td><label for="genero" class="text-body-secondary">Género</label></td>
                        <td th:each="genero:${listaGeneros}" >
                            <input type="radio" th:field="*{genero}" th:value=${genero} />
                            <label for="genero" th:text="${genero}" class="text-body-secondary"></label>
                        </td>
                        <td>
                            <!-- <strong th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></strong> -->
                            <strong th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger p-1"></strong>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <button type="submit" class="btn btn-primary my-2">Registrar</button>
        </form>
    </div>

</body>

</html>